<div class="spinner-border text-info cargando" style="width: 6rem; height: 6rem;" role="status" *ngIf="!cargando">
    <span class="sr-only">Loading...</span>
</div>

<div class="container mt-5" *ngIf="cargando">

    <button class="btn btn-primary " (click)="regresarEncontrado()"> Regresar </button>
    <br>
    <h1>Mascota en adopción <small>(Información)</small></h1>

    <hr>
    <div *ngFor="let mascotaAdoptada of mascotaAdo;let i=index; ">
        <div class="text-center">

            <img src="{{mascotaAdoptada.imgUrl}} " class="tamanoImagen ">
        </div>
        <hr>

        <div class="row animated fadeIn ">

            <div class="col-sm ">
                <ul class=" list-group list-group-flush ">
                    <li class="list-group-item">
                        <h4> {{mascotaAdoptada.nombre}}</h4>
                    </li>

                    <p class="list-group-item">{{mascotaAdoptada.descripcion}}</p>
                    <li class=" list-group-item "><strong>Raza:</strong> {{mascotaAdoptada.raza}} </li>
                    <li class=" list-group-item "><strong>Color Dominante:</strong> {{mascotaAdoptada.colorDominante}} </li>
                    <li class=" list-group-item "><strong>Color Secundario:</strong> {{mascotaAdoptada.colorSecundario}} </li>
                    <li class=" list-group-item "> <strong>Sexo:</strong> {{mascotaAdoptada.sexo}} </li>
                    <li class=" list-group-item "> <strong>Edad (años):</strong> {{mascotaAdoptada.edad}} </li>
                    <li class=" list-group-item "> <strong>Edad (meses):</strong> {{mascotaAdoptada.meses}} </li>
                    <li class=" list-group-item "><strong>Pelaje: </strong>{{mascotaAdoptada.pelaje}} </li>
                    <li class=" list-group-item "><strong>Tamaño:</strong> {{mascotaAdoptada.tamano}} </li>
                    <li class=" list-group-item "><strong>Mascota: </strong> {{mascotaAdoptada.mascota}} </li>
                    <button class="btn btn-success" (click)="formulario()">LLenar formulario adopción</button>
                    <button class="btn btn-danger" (click)="eliminar()" *ngIf="valoracionNavbarAdmin">Eliminar</button>
                    <hr>
                </ul>
            </div>

        </div>

    </div>