<div class="spinner-border text-info cargando" style="width: 6rem; height: 6rem;" role="status" *ngIf="!cargando">
    <span class="sr-only">Loading...</span>
</div>


<div style="margin-top: 100px;" *ngIf="cargando">
    <h3 class="text-center">
        Contactate con nosotros:
    </h3>
    <div class="row-3">
        <div class="text-center mt-3">
            <div>
                <h2> <i class="far fa-envelope mt-5"> <a target="_blank" href="mailTo:rescatadoss@gmail.com" style="color: #4D4C4C; text-decoration: none;"> rescatadoss@gmail.com</a></i></h2>
            </div>
            <div>
                <h2> <i class="fab fa-instagram mt-5"><a target="_blank" href="https://www.instagram.com/rescatadoss" style="color: #4D4C4C; text-decoration: none;"> rescatadoss</a></i></h2>
            </div>

            <div>
                <h2> <i class="fab fa-whatsapp mt-5"> <span style="color: #4D4C4C;"> +57 3116765806</span> </i></h2>
            </div>
        </div>
    </div>
    <div class="mt-5 ">

        <h3 class="text-center">
            Reportar algun fallo:
        </h3>
        <div class="row-3 ">
            <div class="text-center mt-3 ">
                <div class=" ">
                    <h2> <i class="far fa-envelope mt-5 "><a target="_blank" href="mailTo:juanes6321@gmail.com" style="color: #4D4C4C; text-decoration: none;"> juanes6321@gmail.com</a> </i></h2>
                </div>

            </div>
        </div>
    </div>


</div>