<div class="spinner-border text-info cargando" style="width: 6rem; height: 6rem;" role="status" *ngIf="!cargando">
    <span class="sr-only">Loading...</span>
</div>

<div class="container mt-5" *ngIf="cargando">

    <button class="btn btn-primary " (click)="regresarEncontrado()"> Regresar </button>
    <br>
    <h1>Gato Encontrado <small>(Información)</small></h1>

    <hr>
    <div *ngFor="let gato of gatoBuscado;let i=index; ">
        <div class="text-center">

            <img src="{{gato.imgUrl}} " class="tamanoImagen ">
        </div>
        <hr>

        <div class="row animated fadeIn ">

            <div class="col-sm ">
                <ul class=" list-group list-group-flush ">
                    <p class="list-group-item">{{gato.descripcion}}</p>
                    <li class=" list-group-item "><strong>Fecha Visto: </strong> {{gato.fechaVisto}} </li>
                    <li class=" list-group-item "><strong>Raza: </strong> {{gato.raza}} </li>
                    <li class=" list-group-item "><strong>Color Dominante: </strong> {{gato.colorDominante}} </li>
                    <li class=" list-group-item "><strong>Color Secundario: </strong> {{gato.colorSecundario}} </li>
                    <li class=" list-group-item "><strong>Sexo: </strong> {{gato.sexo}} </li>
                    <li class=" list-group-item "><strong>Pelaje: </strong> {{gato.pelaje}} </li>
                    <li class=" list-group-item "><strong>Tamaño:</strong> {{gato.tamano}} </li>
                    <hr>
                </ul>
            </div>
            <div class="col-sm ">
                <h1>Ubicación <small>(datos)</small></h1>
                <ul class="list-group list-group-flush ">
                    <li class=" list-group-item "><strong>  Barrio: </strong> {{gato.barrio}} </li>
                    <li class=" list-group-item "><strong> Comuna: </strong> {{gato.comuna}} </li>
                    <li class=" list-group-item "><strong> Dirección: </strong> {{gato.dirre}} </li>
                    <hr>
                </ul>
                <div class="col-sm ">
                    <h1>Datos Contacto <small>(datos)</small></h1>
                    <hr>
                    <ul class="list-group list-group-flush ">
                        <li class=" list-group-item "><strong> Correo Contacto:</strong> {{gato.correoContacto}} </li>
                        <li class=" list-group-item "><strong> Nombre Contacto:</strong> {{gato.nombreContacto}} </li>
                        <li class=" list-group-item "><strong> Numero Contacto:</strong> {{gato.numeroContacto}} </li>
                        <li class=" list-group-item "><strong> Numero Alterno:</strong> {{gato.numeroAlterno}} </li>
                    </ul>
                </div>

            </div>

        </div>

    </div>